# requirements.txt

# Core
django==4.1
django-environ==0.9.0
psycopg2-binary==2.9.3
Pillow==9.2.0
django-celery-beat==2.5.0  # <--- THIS IS THE FIX
django-celery-results==2.4.0

# Tasks
celery==5.2.7
redis==4.3.4

# Server
gunicorn==20.1.0
