{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <h2>My Inventory</h2>
        <ul class="list-group">
            {% for item in owned_items %}
            <li class="list-group-item">
                {{ item.template.name }} (+{{item.template.attack_boost}} Atk / +{{item.template.defense_boost}} Def)
            </li>
            {% empty %}
            <li class="list-group-item">You don't own any equipment.</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Market</h2>
        <p>Your Cash: ${{ player.cash }}</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Stats</th>
                    <th>Cost</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in market_items %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>+{{ item.attack_boost }} Atk / +{{ item.defense_boost }} Def</td>
                    <td>${{ item.cost }}</td>
                    <td>
                        {% if player.cash >= item.cost %}
                        <a href="{% url 'game:buy_equipment' item.id %}" class="btn btn-success btn-sm">Buy</a>
                        {% else %}
                        <button class="btn btn-secondary btn-sm" disabled>Too Expensive</button>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}