{% extends "base.html" %}

{% block content %}
<h2>Fight List</h2>
<p>Find a target to test your strength. Attacking costs 10 Stamina.</p>
<table class="table">
    <thead>
        <tr>
            <th>Target Name</th>
            <th>Level</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for target in targets %}
        <tr>
            <td>{{ target.user.username }}</td>
            <td>{{ target.level }}</td>
            <td>
                <a href="{% url 'game:attack' target.id %}" class="btn btn-danger btn-sm">Attack</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No suitable targets found right now.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}